/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.1666666666;
  background: #fff;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.group:after {
  content: "";
  clear: both;
  display: block;
}

/*------------*/
#root {
  padding: 20px;
  cursor: default;
}
.bart-map {
  width: 400px;
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.top-grid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clock-weather{
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 26px;
  position: relative;
  left: 4%;
  right: 4%;
}
.clock{
}

.clock-time{

}

.clock-date{

}
.weather-info{
  cursor: pointer;

}
.temperature-info{

}
.city-info{

}

.station-form{

}
.form-dropdowns{
  /*display: flex;*/
  /*flex-direction: row;*/
}

.form-dropdowns div{
  /*width: 500px*/
}
.form-results{

}

.schedule-result-box{

}

.all-schedules{
  display: inline-block;

}

.single-schedule{
  border: 1px solid black;

}

/*Saved Schedules*/
.saved-schedules-box{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  display: inline-flex;
  left: 76%;
  position: relative;
  width: 295px;
}
.all-schedules{
  margin: 5px 0;
  width: 295px;
  max-width: 295px;
  background: red;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 7px;
  box-sizing: border-box;
}
.saved-from-to{
  cursor: pointer;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
}

.saved-from-to .material-icons {
  font-size: 12px;
  color: lightgray;
  cursor: pointer
}
.saved-from-to .material-icons:hover {
  color: black;
}
/*Top right corner*/
.station-schedule{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 325px;
}
.station-schedule .Select-menu-outer {
  right: 0px;
}

.route-list-div{
  height: 200px;
  overflow-y: auto;
  box-shadow: 2px 2px #ccc;
}

.route-list-ul{
  /*border: 1px solid black;*/
  box-shadow: 1px 1px #bbb;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  padding: 2px 5px;
  box-sizing: border-box;

}
::-webkit-scrollbar {
    /*display: none;*/
}
